---
import ContentList from "../components/ContentList.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="list">
	<div class="content-list">
		<!-- <ContentList contents={storeContents.contentsList}></ContentList> -->
		現在調整中
	</div>
</Layout>

<style scoped>
	.content-list {
		width: 100%;
	}
</style>
