---
import type { ContentUnit } from "../scripts/ContentUnit";
import TagsArea from "./TagsArea.astro";

interface Props {
	id: string;
	title: string;
	createdDate: string;
	content: string;
	tags: {tag_id: string, tag_name: string}[];
}

const {
	id = "template",
	title = "タイトル",
	createdDate = "XXXX/XX/XX",
	content = "記事の内容",
	tags = [{tag_id: "template", tag_name: "template"}],
} = Astro.props;
---

<div class="content-card">
	<a class="title-link" href={import.meta.env.BASE_URL +  "/content/" + id}>{title}</a>
	<p class="creating-date">
		<span class="material-symbols-outlined">calendar_month</span>{
			createdDate
		}
	</p>
	<div class="content-tags">
		<TagsArea tags={tags} />
	</div>
</div>

<style lang="scss">
	.content-card {
		margin-block-end: 1rem;
		border: #2070a0 2px solid;
		border-radius: 10px;
		padding: 0.5rem;
		background-color: #f0f8ff;

		.title-link {
			font-weight: bold;
			color: #3050a0;
			font-size: 1.25rem;
		}

		.creating-date {
			display: flex;
			justify-content: baseline;
			color: #505050;

			span {
				font-size: 20px;
			}
		}

		.content-tags {
			span {
				padding-inline-end: 0.5rem;

				&::before {
					content: "#";
				}
			}
		}
	}
</style>
