<div class="header-wrapper">
	<div class="header-container">
		<h1 class="title-in-header">Repository of Kehthe</h1>
		<nav>
		<a href={import.meta.env.BASE_URL + "/"}>ホーム</a>
			<a href={import.meta.env.BASE_URL + "/tag-list"}>タグ一覧</a>
		</nav>
	</div>
</div>

<style lang="scss">
	:root {
		--header-height: 48px;
	}

	.header-wrapper {
		width: 100%;
		height: var(--header-height);
		background-color: #f0f8fc;
		display: flex;
		justify-content: center;

		.header-container {
			max-width: var(--commonContentWidth);
			height: 100%;
			width: 100%;
			padding-inline: 1rem;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: space-between;

			.title-in-header {
				font-size: 1.5rem;
			}

			nav {
				display: flex;
				gap: 1rem;
				align-items: center;
				justify-content: center;

				a {
					color: #4080c0;
				}
			}
		}
	}
</style>
