---
interface Props {
	tag: {tag_id: string, tag_name: string};
}

const { tag = {tag_id: "error", tag_name: "error"} } = Astro.props;
---

<a
	class="tag-link"
	href={import.meta.env.BASE_URL + "/tag/" + tag.tag_id}
	style="text-decoration: none;"
>
	<div class="tags-container">
		<span class="tag-mark">#</span><span class="tag-word"></span>
		{tag.tag_name}
	</div>
</a>

<style lang="scss">
	.tag-link {
		.tags-container {
			padding-inline: 5px;
			width: fit-content;
			border: 2px solid #205060;
			border-radius: 5px;
			display: flex;
			align-items: center;
			font-weight: bold;
			background-color: #e8f8fa;
			color: #205060;

			.tag-mark {
				font-size: 1.25rem;
				padding-inline-end: 0.25rem;
			}
		}

		&:hover > .tags-container {
			background-color: #d0f0f4;
		}
	}
</style>
