---
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	</head>
	
	<body>
		<Header />
		<div class="page-wrapper">
			<div class="page-content">
				<slot />
			</div>
		</div>
		<div class="copyright">©gckohaku 2022-2024 (alpha-10-Astro)</div>
	</body>
</html>

<style is:global>
	@import "/public/styles/main.css";

	.page-wrapper {
		display: flex;
		justify-content: center;

		.page-content {
			max-width: var(--commonContentWidth);
			padding: 2rem;
			box-sizing: border-box;
			width: 100%;
		}
	}

	.copyright {
		position: fixed;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 0.1rem 0.2rem;
	}

	h2,
	h3,
	h4,
	p,
	figure,
	ul {
		margin-block-end: 1rem;
	}
</style>
